<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ellipse">
  </div>
  <div class="cp">CP</div>
  <ul class="intro">
    <li>Intro</li>
    <li>Portfolio</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
    <%= yield %>
  </body>
</html>
